/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* cho mặc định là 16px cho dễ chơi */
  font-size: 1.6rem;
  transition: opacity 1s ease;
  /* Hiệu ứng chuyển mờ trong 1.5 giây */
  opacity: 1;
}

/* container */
.container {
  /* border: 2px solid red; */
  max-width: 132rem;
  height: 140rem;
  padding: 0;
  /* background-color: #fafafa; */
}

/* ----------------------------- */
/* header */
.header-shop {
  /* border: 2px solid darkmagenta; */
  width: 100%;
  background-color: rgb(0, 7, 105);
  display: flex;
  justify-content: space-between;
}

/* header-shop-left */
.header-shop-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0 3rem 5.5rem;
}

.header-shop-left p {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
}

.header-shop-left-fish img {
  display: block;
  width: 5rem;
}

/* header-shop-middle */
.header-shop-middle {
  padding-top: 4.3rem;
  padding-bottom: 2.5rem;
  padding-right: auto;
  padding-left: 25%;
}

.header-shop-middle-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-shop-item {
  margin-right: 5rem;
}

.header-shop-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;
  transition: 0.4s;
  display: block;
}

.header-shop-link:hover {
  color: rgb(252, 152, 35);
}

/* ------------------------------------ */
/* phẩn tử khi đưa vào thì xuất hiển */
.linksub-shop {
  display: none;
  text-align: center;
  /* border: 2px solid chartreuse; */
  width: 17rem;
  height: 11rem;
  position: absolute;
  padding-top: 1.7rem;
  padding-bottom: 0;
  background-color: rgb(0, 7, 105);
  /* combo dịch chuyển qua phân nữa so với nó cho đúng chỗ */
  right: 50%;
  transform: translateX(50%);
  top: 100%;
  z-index: 1;
}

.linksub-shop a {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 350;
  transition: 0.4s;
}

.linksub-shop a:hover {
  color: rgb(252, 152, 35);
}

/* khi hover vào cái này thì cái kia bị cái gì */
.item-hover-spec:hover .linksub-shop {
  display: block;
}

/* linksub-customer: phân tử ẩn cho link */
.linksub-customer {
  display: none;
  text-align: center;
  /* border: 2px solid chartreuse; */
  width: 16rem;
  height: 7.5rem;
  position: absolute;
  padding-top: 1.7rem;
  padding-bottom: 0;
  background-color: rgb(0, 7, 105);
  /* combo dịch chuyển qua phân nữa so với nó cho đúng chỗ */
  right: 50%;
  transform: translateX(50%);
  top: 100%;
  z-index: 1000;
}

.linksub-customer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;
  transition: 0.4s;
}

.linksub-customer a:hover {
  color: rgb(252, 152, 35);
}

/* khi hover vào cái này thì cái kia bị cái gì */
.item-hover-spec:hover .linksub-customer {
  display: block;
}

/* ----------------------------- */
/* Bấm ở trang nào thì nút trên header sẽ có màu đó */
.actived {
  color: rgb(252, 152, 35);
}

/* -----------------------------*/
/* header-shop-right */
.header-shop-right {
  display: flex;
  padding-top: 4rem;
}

.header-shop-right-login {
  padding-right: 5rem;
  padding-top: 0.6rem;
}

.header-shop-right-login a {
  text-decoration: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 350;
  transition: 0.2s;
}

.header-shop-right-login a:hover {
  color: rgb(131, 131, 214);
}

.header-shop-right-icon {
  font-size: 1.8rem;
  padding-right: 3rem;
}

.header-shop-right-icon a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 1rem;
}

.header-shop-right-buy {
  padding-right: 6rem;
}

.header-shop-right-buy a {
  color: rgb(255, 255, 255);
}

/* ------------------------------ */
/* ----------------------------- */
.container {
  /* border: 2px solid red; */
  max-width: 132rem;
  height: auto;
}

.body-content {
  /* border: 2px solid chartreuse; */
  width: 75%;
  margin: 14rem auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.body-content-left {
  /* border: 2px solid purple; */
  width: 62%;
}

.body-content-right {
  /* border: 2px solid darkorange; */
  width: 34%;
}

/* right */
.right-title {
  color: rgb(0, 7, 105);
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* border: 1px solid rgba(79, 82, 131, 0.6); */
  padding: 2rem 0;
  /* border-top: transparent;
  border-left: transparent;
  border-right: transparent; */
}

.right-title p {
  margin: 0;
}

.right-sub-total {
  border: 1px solid rgb(101, 107, 187);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-left: transparent;
  border-right: transparent;
  margin-bottom: 2rem;
}

.sub-total-left {
  /* border: 1px solid brown; */
  width: 70%;
}
.sub-total-left p {
  color: rgb(0, 7, 105);
  font-size: 2rem;
}

.sub-total-left a {
  display: block;
  color: rgb(0, 7, 105);
  font-size: 2rem;
}

.sub-total-right p {
  margin: 0;
  font-size: 2rem;
  color: rgb(0, 7, 105);
}

.sub-total-checkout {
  /* border: 1px solid red; */
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.sub-total-checkout p {
  margin: 0;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 7, 105);
}

.total-btn {
  text-align: center;
}

.sub-total-btn {
  margin: 0 auto;
  width: 97%;
  height: 5rem;
  border: none;
  background-color: rgb(0, 7, 105);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.sub-security {
  margin-top: 2rem;
  text-align: center;
}
.sub-security p {
  color: rgb(0, 7, 105);
}

/* ------------------------------------------- */

/* left */
.left-title {
  color: rgb(0, 7, 105);
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* border: 1px solid rgba(79, 82, 131, 0.6); */
  padding: 2rem 0;
  /* border-top: transparent;
  border-left: transparent;
  border-right: transparent; */
}

.left-title p {
  margin: 0;
}

.left-body {
  border: 1px solid rgb(101, 107, 187);
  padding: 2rem 0;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}

.left-body-card {
  border: 1px solid rgb(101, 107, 187);
  height: auto;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.card-img {
  width: 15rem;
}

.card-img img {
  display: block;
}

.card-details {
  width: 20rem;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 7, 105);
}

.card-quantity {
  width: 7rem;
  background-color: rgb(0, 7, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 50%;
}

.card-quantity p {
  color: rgb(255, 255, 255);
  margin: 0;
}

.card-price {
  width: 8rem;
  display: flex;
  justify-content: center;
  margin-left: 4rem;
}

.card-price p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 7, 105);
}

.card-trash {
  width: 10rem;
  color: rgb(0, 7, 105);
  display: flex;
  justify-content: end;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}

.left-promo-code {
  margin-bottom: 2rem;
}

.left-promo-code a {
  text-decoration: none;
  color: rgb(0, 7, 105);
  font-size: 2rem;
}

.left-addText a {
  text-decoration: none;
  text-decoration: none;
  color: rgb(0, 7, 105);
  font-size: 2rem;
}

/* ----------------------------- */
/* end-shop */
.end-shop {
  border: 2px solid darkmagenta;
  width: 100%;
  background-color: rgb(0, 7, 105);
  display: flex;
  margin-top: 3rem;
  height: 16rem;
  justify-content: space-around;
  padding: 0 28rem;
}

.end-shop-follow {
  padding: 3.5rem 0 3.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.end-shop-icon {
  font-size: 1.8rem;
}

.end-shop-icon a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}

/*  */
.end-shop-content-1 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-align: center;
  padding: 3.5rem 0 3.5rem 0;
}

.end-shop-content-2 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-align: center;
  padding: 3.5rem 0 3.5rem 0;
}
